/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
body {
  background-color:#368f8b;
  color: black;
}
h3 a p {
  color:black;
}

#well-hoverwell-thumbnail {
  background-color:#ddbea8
}
.hoverwell:hover {
  background-color: #5497df;
  cursor: pointer;
}
h1.a{
  color:#ddbea8;
  display:inline-block;
  font-size: 30px;
  /* padding-left:50px; */
  /* padding-top:10px; */
}
h1.b{
  color:#160f29;
  display:inline-block;
  font-size: 30px;
  /* padding-top:10px; */
}
.container-fluid {
  background-color: #ddbea8;
}
.container {
  /* padding-top: 10px; */
}

.pointable {
  cursor: pointer;
}

button {
  color: rgb(116, 206, 248);
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
